:root{
    
    --main-font: 'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --main-color: #2196F3 ;
}

body{
        font-family: var(--main-font);
    
}
/* ########HEADER############*/

.navigation-logo-first,
.navigation-logo-second-a,
.navigation-logo-second-a1{
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;

}
.navigation-logo-first,
.navigation-list-link-blue{
    
    color: #2196F3 
}


.navigation-list-link,
.navigation-logo-second-a1{
   
    color: #212121;
}
a {text-decoration: none;}

.navigation-list-link,
.navigation-list-link-blue,
.address-list-link{

    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;

}
.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-link:hover,
.address-list-link:focus,
.navigation-list-link-blue:hover,
.navigation-list-link-blue:focus{

    
    color:var(--main-color)
}
.address-list-link{
    
    color: #757575
}

/* ########END HEADER ##########*/

/* ########MAIN ############ */

.section{
   
    background: #2F303A;
}
.btn{

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}   

.modal-btn-order{

    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    color: #FFFFFF;
    background: var(--main-color);
}
.modal-btn:hover,
.modal-btn:focus{
    color: #FFFFFF;
    background: var(--main-color)
}

.modal-btn{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #212121;
    background: #F5F4FA;
}

.lorem-ipsum{
    
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#212121;
}

.lorem-ipsum-description{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.715;
    letter-spacing: 0.03em;
    color:#757575;
}
.about-us,
.about-team{
    
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team{

    background-color:#F5F4FA;
}
.member-name{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}

.member-position{

    font-weight: normal;
    font-size: 16px;
    line-height: 1,187;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ########END MAIN ############ */
/* ########FOOTER ############ */

.footer{

    background: #2F303A;

}

.navigation-logo-second-a{

    color: #FFFFFF;

}
.navigation-list-item{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    
}

.address-company{

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-list-item-active:hover,
.address-list-item-active:focus,
.address-list-link-number:hover,
.address-list-link-number:focus{

    color: var(--main-color)

}

.address-list-item-active,
.address-list-link-number{

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}
/* ########END FOOTER ###########*/

.sites-name{

    font-weight: bold;
    font-size: 18px;
    line-height: 2.000;
    letter-spacing: 0.06em;
    color: #212121;
}
.sites-kind{

    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}