:root{
    
    --main-font: 'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --main-color: #2196F3 ;
}

body{
        font-family: var(--main-font);
    
}
button{
    font-family: inherit;  
}
h1,
h2,
h3,
h4,
h5,
h6 {
   
    padding: 0;
    margin: 0;
}
ul, 
ol{
    padding: 0;
    margin: 0;
}

p{
    padding: 0;
    margin: 0;

}

img{
    display: block;
}

a {
    text-decoration: none;
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin:0 auto;
    
}

.section{

    padding-bottom: 94px;
}
 
/* ########HEADER############*/

.header {
	border-bottom: 1px solid #ececec;
}

.header .container{
    
    display:flex;
    align-items: center;
}
.navigation{
    display: flex; 
    align-items: center;
}

.navigation-list{
    display: flex;
    align-items: center;
}

.navigation-link,
.navigation-logo{

    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
  

.navigation-list-item{

    margin-right: 46px;
    padding-top: 32px;
    padding-bottom: 32px ;
}



.navigation-link-item::not(last-child){
    
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px ;
}


.navigation-logo-first,
.navigation-logo-second-a,
.navigation-logo-second-a1{
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;

}
.navigation-logo-first,
.navigation-list-link-blue{
    
    color: #2196F3 
}


.navigation-list-link,
.navigation-logo-second-a1{
   
    color: #212121;
}



.navigation-list-link:hover,
.navigation-list-link:focus,
.mail-list-link:hover,
.mail-list-link:focus,
.phone-number-list-link:hover,
.phone-number-list-link:focus,
.navigation-list-link-blue:hover,
.navigation-list-link-blue:focus{

    
    color:var(--main-color)
}

.address-list{
    
    display: flex;
    align-items: center;
    
}


.header .address{

    margin-left: auto ;
    
}

.mail-list-link{

    margin-right: 50px;
}

.navigation-list-link,
.navigation-list-link-blue,
.mail-list-link,
.phone-number-list-link{

    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;

}

.mail-list-link,
.phone-number-list-link{
    
    color: #75757575;
}
.envelope-icon{
    width: 16px;
    height:12px;
    margin-right: 10px;
    fill: currentColor;
}
.smartphone-icon{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
.section-btn{
    height: 600px;
    background-color: #2F303A;
    margin: 0 auto;
    background-image: linear-gradient( 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/tlo.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.btn{

    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 200px 0 30px;
    width: 692px;
    margin: 0 auto;

}    
.modal-btn-order{
    display: flex;
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
    font-size: 16px;
	line-height: 1.875;
	align-items: center;
    text-align: center;
	letter-spacing: 0.06em;
	color: #fff;
	cursor: pointer;
    margin: 0 auto;
    padding: 10px 41px;
    
   
}


/* ########END HEADER ##########*/

/* ########MAIN ############ */
.atributes-section{
    
    padding-top: 94px;
    padding-bottom: 0px;
}
.artibutes-list {
    display:flex;
    
}

.atributes-list-item-title{
    
    color:#212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 94px;
   
  
}

.atributes-list-item-header:not(:last-child){
    padding-right: 30px;
}

.atributes-list-item-description{
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}

.about-img-list{
    display: flex;
}
.about-img-list-item-img{
    margin-right: 39px;
}

.about-us-header{
    
    padding-top: 94px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-bottom: 50px;

}

.our-team {
	background-color: #f5f4fa;
}

.our-team-list{
	display: flex;
    justify-content: space-between;
}
.our-team-list-item{

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-header{
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
}
.member-name{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 0.842;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
    padding-bottom: 10px;

}

.member-position{

    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color:  #757575;
    padding-bottom: 30px;
}
.socials-list
{
    display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.socials-list-link {
	display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	padding: 12px;
    align-items: center;
	justify-content: center;
}
.socials-list-link:hover,
.socials-list-link:focus{
    background-color: #2196f3;
    fill: #fff;
}

.socials-icon {
	width: 20px;
	height: 20px;
	
}

/* ########END MAIN ############ */
/* ########FOOTER ############ */

.footer{

    background: #2F303A;
    height: 252px;

}
.footer .container{

    padding-top: 60px;
}

.footer .navigation-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;

   
}
.navigation-logo-second-a{

    color: #FFFFFF;

}
.address-list-block{
    display: block;
}


.address-list-item::not(:last-child){
    padding-bottom: 9px;
}


.street{

    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding: 20px 20px 20px 0;
}

.address-list-item:hover,
.address-list-item:focus,
.address-list-link:hover,
.address-list-link:focus{

    color: var(--main-color)

}

.address-list-item,
.address-list-link{

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}
/* ########END FOOTER ###########*/

.menu-list{
    display: flex;
    justify-content: center;
}
.menu-list-item{
    padding-top:94px;
}
.menu-list-item:not(:last-child){
    margin-right:8px;
    padding-bottom: 34px;
}
.icons-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0, 15;
    
}

.icons-list-item:not(:nth-child(3n)){
    margin-right: 30px;
}
.icons-list-item{
    margin-bottom: 30px;
    background-color: #fff;
}
.icons-list-sites-border{
    border: 1px solid #eeeeee;
}
.join-us {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #fff;
	padding-top: 12px;
	padding-bottom: 20px;
}

.contact-us-wrapper {
	padding-left: 70px;
}

.grey-circle {
	background: rgba(255, 255, 255, 0.1);
}

.social-padding:not(:last-child) {
	padding-right: 10px;
}

.white-icon {
	fill: #fff;
}

.modal-btn:focus,
.modal-btn:hover{
    color: #FFFFFF;
    background: var(--main-color)
}

.modal-btn{

    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
}



.sites-name{

    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    padding-top: 20px;
    padding-left: 24px;
}
.sites-kind{

    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
    padding-top: 4px;
    padding-bottom: 20px;
    padding-left: 24px;
    
}