:root{
    
    --main-font: 'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --main-color: #2196F3 ;
}

body{
        font-family: var(--main-font);
    
}
button{
    font-family: inherit;  
}
h1,
h2,
h3,
h4,
h5,
h6 {
   
    padding: 0;
    margin: 0;
}
ul, 
ol{
    padding: 0;
    margin: 0;
}

p{
    padding: 0;
    margin: 0;

}

img{
    display: block;
}

a {
    text-decoration: none;
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin:0 auto;
    
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}


/* ########HEADER############*/

.header {
	border-bottom: 1px solid #ececec;

}

.header .container{
    
    display:flex;
    align-items: center;
}
.navigation{
    display: flex; 
    align-items: center;
}

.navigation-list{
    display: flex;
    align-items: center;
}

.navigation-link,
.navigation-logo{

    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
  

.navigation-list-item{

    margin-right: 46px;
    padding-top: 32px;
    padding-bottom: 32px ;
}



.navigation-link-item::not(last-child){
    
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px ;
}


.navigation-logo-first,
.navigation-logo-second-a,
.navigation-logo-second-a1{
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;

}
.navigation-logo-first,
.navigation-list-link-blue{
    
    color: #2196F3 ;
}

.navigation-list-link,
.navigation-logo-second-a1{
   
    color: #212121;
}

.navigation-list-link{
    position: relative;
}
.navigation-list-link::after{
    position: absolute;
    content:" ";
    width: 0;
    height: 4px;
    border-radius: 2px;
    background: var(--main-color);
    bottom: -32px;
    right: 0;
    transition: width 250ms, left 250ms;

}
.navigation-list-link:hover::after,
.navigation-list-link:focus::after{
    width:100%;
    left: 0;
}
.navigation-list-link-blue{
    position: relative;
}
.navigation-list-link-blue::after{
    position: absolute;
    content:" ";
    width: 0;
    height: 4px;
    border-radius: 2px;
    background: var(--main-color);
    bottom: -32px;
    right: 0;
    transition: width 250ms, left 250ms;
}
.navigation-list-link-blue:hover::after,
.navigation-list-link-blue:focus::after{
    width:100%;
    left: 0;
}

.address-list{
    display: flex;
    align-items: center;
}
.header .address{
    margin-left: auto ;
}

.mail-list-link{

    margin-right: 50px;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-list-link-blue:focus,
.navigation-list-link-blue:hover,
.mail-list-link:hover,
.mail-list-link:focus,
.phone-number-list-link:focus,
.phone-number-list-link:hover{
    color: var(--main-color);
}

.navigation-list-link,
.navigation-list-link-blue,
.mail-list-link,
.phone-number-list-link{

    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-list-link,
.phone-number-list-link{
    
    color: #757575;
}
.envelope-icon{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}
.mobile-icon{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
.section-btn{
    height: 600px;
    background-color: #2F303A;
    margin: 0 auto;
    background-image: linear-gradient( 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/tlo.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.btn{

    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 200px 0 30px;
    width: 692px;
    margin: 0 auto;
    border:none;


}    
.modal-btn-order{
    display: flex;
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
    font-size: 16px;
	line-height: 1.875;
	align-items: center;
    text-align: center;
	letter-spacing: 0.06em;
	color: #fff;
	cursor: pointer;
    margin: 0 auto;
    padding: 10px 41px;
    border:none;
    
   
}


/* ########END HEADER ##########*/

/* ########MAIN ############ */



.atributes-list{
    
    display:flex;
    justify-content: space-between;
    align-content: center;

}
.atributes-icon-box {

    display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	background-color:  #f5f4fa;
	margin-bottom: 30px;
	border-radius: 4px;
}

.atributes-icon {
	width: 70px;
	height: 70px;
}
.lorem{
    font-size: var(--main-font);
    font-style: bold;
    color:#212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.atributes-list-item:not(:last-child) {
    padding-right: 30px;
}

.atributes-list-item-description{
    
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}

.about-img-list{
    display: flex;
}
.about-img-list-item-img{
    margin-right: 39px;
}
.about-img-list-item{
    position: relative;
}
.about-img-list-item-text{
    
    position: absolute;
    font-family: Roboto;
    font-style: bold;
    width: 370px;
    height: 70px;
    text-align:center;
    justify-content: center;
    padding-top: 27px;
    display: flex;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    bottom: 0px;
    color: #fff;
    letter-spacing: 0.03em;
    background: rgba(47, 48, 58, 0.8);
}

.title-record{
    
    font-style: bold;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-bottom: 50px;

}


.our-team {
	background-color: #f5f4fa;

}

.our-team-list{
	display: flex;
    justify-content: space-between;
    
}
.our-team-list-item{

    background-color: #ffffff;
    box-shadow: 
        0px 1px 3px    rgba(0, 0, 0, 0.12), 
        0px 1px 1px    rgba(0, 0, 0, 0.14),
		0px 2px 1px    rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.member-name{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 0.842;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
    padding-bottom: 10px;

}

.member-position{

    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color:  #757575;
    padding-bottom: 30px;
}
.socials-list
{
    display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.socials-list-link {
	display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	padding: 12px;
    align-items: center;
	justify-content: center;
    fill: #AFB1B8; 
}
.socials-list-link:hover,
.socials-list-link:focus{
    background-color: #2196f3;
    fill: #fff;
}
.socials-icon{
    width: 20px;
    height: 20px;
}
/* ########OUR CLIENTS #########*/



.our-clients-list{
    display:flex;
    align-items: center;
    justify-content: center;
}
.our-clients-list-item:not(:last-child){

    margin-right: 30px;
}
.our-clients-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 170px;
	height: 92px;
	border: 1px solid #afb1b8;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 17.71px 32px 14.25px;
	color: #afb1b8;
}
.our-clients-icon {
	width: 106px;
	height: 60px;
	fill: currentColor;
}
.our-clients-link:hover,
.our-clients-link:focus {
	border-color: var(--main-color) ;
	color: var(--main-color);
}



/* ########END MAIN ############ */
/* ########FOOTER ############ */

.footer{

    background: #2F303A;
    height: 252px;

}
.footer .container{

    padding-top: 60px;
    display: flex;
}

.footer .navigation-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;

   
}
.navigation-logo-second-a{

    color: #FFFFFF;

}
.address-list-first{
    padding-top: 20px;
    display: block;
}


.address-list-item:last child{
    padding-bottom:60px;
}


.address-list-link-street{

    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding-bottom:9px;
}

.address-list-item:hover,
.address-list-item:focus,
.address-list-link:hover,
.address-list-link:focus{

    color: var(--main-color)

}

.address-list-item,
.address-list-link{

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 9px;

}

.join-us {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.143;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #fff;
	padding-top: 12px;
	padding-bottom: 20px;

}

.contact-us-content{
    padding-left: 70px;
}

.socials-list-link-grey{
    display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	padding: 12px;
    align-items: center;
	justify-content: center;
    background:rgba(255, 255, 255, 0.1) ;
    fill:#fff
    
}
.socials-list-link-grey:hover,
.socials-list-link-grey:focus{
    background-color: #2196f3;
    fill: #fff;
}

.socials-list-item-break:not(:last-child) {
	padding-right: 10px;
}


/* ########END FOOTER ###########*/


.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:  rgba(0, 0, 0, 0.2);
}
.modal{
    position: absolute;
    width:528px;
    min-height:581px;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),        0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: auto;

}
.close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border:  solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
 
}
.close-btn-icon{
    width: 11px;
    height: 11px;
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.menu{
    padding-top: 0px;
}
.menu-list{
    display: flex;
    justify-content: center;
}
.menu-list-item{
    padding-top:94px;
}
.menu-list-item:not(:last-child){
    margin-right:8px;
    padding-bottom: 34px;
}
.photo-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0, 15;

}
.photo-catalog{
    position: relative;
    overflow: hidden;
}
.photo-list-item:hover .text-info {
    transform: translatey(0);
  }
.text-info{
    position: absolute;
    bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 24px;
	padding-right: 45px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.556;
	letter-spacing: 0.03em;
	color: #fff;
	background: rgba(33, 150, 243, 0.9);
	transform: translatey(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.photo-list-item:not(:nth-child(3n)){
    margin-right: 30px;
}
.photo-list-item{
    margin-bottom: 30px;
    background-color: #fff;
}
.photo-list-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06),
		        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.photo-list-sites-border{
    border: 1px solid #eeeeee;
}

.modal-btn:focus,
.modal-btn:hover{
    color: #FFFFFF;
    background: var(--main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
		        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-btn{

    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
}



.sites-name{

    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    padding-top: 20px;
    padding-left: 24px;
}
.sites-kind{

    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
    padding-top: 4px;
    padding-bottom: 20px;
    padding-left: 24px;
    
}
